:root {
    --main-text-color: #F9FAF8;
    --hero-bg-color: #1F2937;
    --quote-bg-color: #E5E7EB;
    --button-bg-color: #3882F6;
}

* {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: Roboto, monospace;
} 

/* Containers */

#container {
    height: 100vh;
    width: 100vw;
}

#container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: var(--hero-bg-color);
}

#container-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#container-bottom {
    
}

/* Navbar */

#navbar {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar-list {
    display: flex;
    gap: 20px;
}

#logo > a {
    color: var(--main-text-color);
    font-size: 24px;
}

.navbar-list-items > a {
    color: var(--quote-bg-color);
}

/* Top */

#top {
    display: flex;
    width: 70%;
    flex: auto;
    margin: 40px 0;
    justify-content: space-between;
}
#top-right, #top-left {
    width: 45%;
}

#top-right {
    background: darkgray;
    display: flex;
    align-items: center;
    color: var(--quote-bg-color)
}

#hero-text {
    font-weight: 800;
   font-size: 48px; 
   color: var(--main-text-color);
}

#hero-subtext {
    font-size: 18px;
    color: var(--quote-bg-color)
}

#hero-btn {
    width: 25%;
    background: var(--button-bg-color);
    color: var(--main-text-color);
    border: none;
    outline: none;
    border-radius: 8%;
}

/* Middle */

#middle {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: auto;
}

#middle-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%
}

#middle-header {
    font-weight: 800;
    font-size:  36px;
    color: #1F2937;
}

#middle-bottom {
    height: 50%;
}

#middle-div {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.middle-div-items {
    border-radius: 9%;
    display: flex;
    flex: auto;
    gap: 2%;
    border: 2px solid var(--button-bg-color);
    height: 80%;
    width: 80%;
}

#div-item-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#div-item-container > p {
    text-align: center;
}

#middle-bottom {
    margin-top: 150px;
    background: #E5E7EB;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
}

#middle-bottom-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

#middle-bottom-author {
  margin-right: 50px;
  align-self: flex-end;
  font-size: 18px;
  font-weight: 800;
}

/* Bottom */

#bottom {
    height: 25vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#bottom-top {
    width: 70%;
    background: var(--button-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border-radius: 2%;
}

#bottom-top-text {
    color: var(--main-text-color);
}

#btn {
    background: var(--button-bg-color);
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    outline: none;
    border-radius: 8%;
}

#bottom-bottom {
    margin-top: 50px;
    background: var(--hero-bg-color);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    color: var(--main-text-color);
}



/* Links and Lists */

li {
    list-style: none;
}

a  {
    text-decoration: none;
}